body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 0 10px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

ul li {
    list-style: none;
}

.icon img {
    border-radius: 50%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.item {
    background-color: #e91e63;
    border-radius: 4px;
}

/* Desktop and Tablet Layout */
.container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
}

/* Mobile Layout */
@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
}